<h1>Log In</h1>

<form action="/login" method="post">

<label for="email">Email</label>
<input type="text" name="email" placeholder="Email">

<label for="fullName">Full Name</label>
<input type="text" name="fullName" placeholder="Full Name">

<label for="password">Password</label>
<input type="password" name="password" placeholder="Password">

<button type="submit">Log In</button>

<a href="/">Go back</a>

</form>